---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Body from '@components/Body.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Content from '@components/Content.astro';
import Masthead from '@components/Masthead.astro';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-20">
			<Content classname={"max-w-4xl"}>
				<section class="pt-5 rounded-md">
					<h1 class="font-mplus text-center text-2xl">{SITE_TITLE}</h1>
					<Masthead />	
				</section>
			</Content>

			<Content classname={"max-w-4xl"}>
				<section class="pt-5 rounded-md">
					<h2 class="font-mplus text-center text-2xl">¿Por qué la existencia de este proyecto?</h2>
					<p class="text-center">Este proyecto está destinado a ser utilizado como un blog estudiantil y portafolio donde podrás encontrar mis proyectos más relevantes y donde voy a escribir acerca de las tecnologías y mis clases como administrador de sistemas y desarrollador.</p>
				</section>
			</Content>
		</main>
		
		<Footer />
	</Body>
</html>
