<section class="relative mb-6 md:h-36 h-52 flex justify-center">
	<div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
		<div class="text-sm font-mplus font-medium flex justify-center items-center">
			<div>
				<p>Estudiante de administración de sistemas y entusiasta de la programación, localizado en las Islas Canarias (Tenerife, España). Me encanta trabajar con la premisa de implementar código sostenible y trabajar bajo la filosofía DevOps. Estoy comprometido a mejorar mis habilidades de programación, tanto en la web como en la movilidad, trabajando con el objetivo de ofrecer soluciones escalables y seguras.</p>
			</div>
			<div>
				<img class=" md:visible collapse w-96 h-28 rounded-full" src="icon.jpg" alt="profile picture">
			</div>
		</div>
	</div>
</section>